<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<!-- Переменная: уровень логирования для пользовательского кода -->
	<variable name="userLevel" value="Info" />

	<targets>
		<!-- "Чёрная дыра" для подавления ненужных логов -->
		<target xsi:type="Null" name="Blackhole" formatMessage="false" />

		<!-- Файл логов -->
		<target xsi:type="File"
		        name="logfile"
		        fileName="${specialfolder:folder=LocalApplicationData}/IncidentApp/logs/log-${shortdate}.txt"
		        layout="${longdate}|${level:uppercase=true}|${callsite}|thread=${threadid}|${message:withException=true:exceptionSeparator=\r\n}" />

		<!-- Отладочное окно -->
		<target xsi:type="Debugger"
		        name="DebugWindow"
		        layout="${longdate}|${level:uppercase=true}|${callsite}|thread=${threadid}|${message}" />
	</targets>

	<rules>
		<!-- Подавляем лишние логи от Microsoft и Avalonia -->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="Blackhole" final="true" />
		<logger name="System.*"    minlevel="Trace" writeTo="Blackhole" final="true" />
		<logger name="Avalonia.*"  minlevel="Trace" writeTo="Blackhole" final="true" />

		<logger name="*" minlevel="${var:userLevel}" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="DebugWindow" />
	</rules>
</nlog>